extends layout

block content
  h1 NextCore API Explore

  head
    form(action='/proxy')
      select(name='method')
        option(value='GET')    GET
        option(value='POST')   POST
        option(value='PUT')    PUT
        option(value='DELETE') DELETE

      | #{nextcore.scheme}://#{nextcore.host}

      input(type='text', name='path', value='/')
