!!! 5
//if lt IE 7 ]><html class="ie ie6-8 ie6-7 ie6" lang="ja">
//if IE 7 ]><html class="ie ie6-8 ie6-7 ie7" lang="ja">
//if IE 8 ]><html class="ie ie6-8 ie8" lang="ja">
//if IE 9 ]><html class="ie ie9" lang="ja">
// [if (gt IE 9)|!(IE)]><!--><html class="standard" lang="ja"><!--<![endif]
head
  meta(charset='utf-8')
  title API Explorer for NextCore
  meta(name='description', content='')
  meta(name='author', content='')

  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // Assets
  != css('app')
  != js('app')
body
  block pre_content
  block content
  block post_content
| </html>
