extends ../layout

block content
  h1 #{category.Name || 'カテゴリ一覧'}

  ul.topic-path
    if category.Name
      li
        a(href=path('app.categories'))
          | カテゴリ一覧

    for category in parents
      li
        a(href=path('app.category.detail', {category: category.Code}))
          = category.Name

  ul.sub-categories
    for category in children
      li
        a(href=path('app.category.detail', {category: category.Code}))
          = category.Name
