extends ../layout

block content
  | Hello
  | #{config.moshimo.host}

  ul
    - each category in categories
      li
        a(href=path('app.sub.categories', {category: category.Code}))
          = category.Name
