extends ../layout

block content
  h1 #{category.Name} の商品一覧

  ul.topic-path
    if category.Name
      li
        a(href=path('app.categories')) カテゴリ一覧
    for category in parents
      li
        a(href=path('app.category.detail', {category: category.Code}))
          = category.Name

    ul.articles
      for article in articles
        li
          a(href=path('app.article.detail', {article_id: article.ArticleId}))
            = JSON.stringify(article, ' ', 2)
