@import 'nib'
@import 'lib/github.css'

.container
  margin-top 60px

h2
  smooth-button()
  width 90%
  font-size 2em

h3
  margin-top 20px

.ui-api-path-input
  width 300px
  font-size 13px

.query-params
  display none

iframe
  position absolute
  display none
  border none
  top 0
  left 0
  right 0
  bottom 0
  width 100%

#loading
  display none
